html {
  font-size: 62.5%;
}

body {
  font-family:  YakuHanJP, sans-serif, YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,sans-serif;
  font-size: 1.6rem;
  color: #212121;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: #212121;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.section-title {
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 0.05em;
  position: relative;
}

.section-title span {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
}

.secContact_title {
  margin-bottom: 40px;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.header-inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li:not(:first-child) {
  margin-left: 30px;
}

.nav-list li a {
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
}

.mv {
  position: relative;
  height: 100vh;
  background: #f9f9f9;
}

.mv img {
  height: 100vh;
}

.mv-wrapper {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mv-text {
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  text-align: center;
  color: #212121;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
}

.mv-text span {
  display: block;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding-top: 5px;
  color: #aaaaaa;
}

.mv-btn {
  display: block;
  color: #fff;
  background: #212121;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  transition: all .2s;
  border: 1px solid #212121;
}

.mv-btn:hover {
  background: #f9f9f9;
  color: #212121;
  border-color: #212121;
}

.about {
  padding: 100px 0;
  background: #ffffff;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-left {
  width: 45%;
  margin-right: 80px;
}

.about-right {
  width: 45%;
}

.about-img {
  text-align: center;
}

.about-img img {
  width: 350px;
  height: auto;
  border-radius: 50%;
}

.about-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-lead {
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
}

.about-hobby {
  margin-top: 20px;
  color: #888;
}