html {
  font-size: 62.5%;
}

body {
  font-family:  YakuHanJP, sans-serif, YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,sans-serif;
  font-size: 1.6rem;
  color: #212121;
}

a {
  color: #212121;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.header-inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li:not(:first-child) {
  margin-left: 30px;
}

.nav-list li a {
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
}

.mv {
  position: relative;
  height: 100vh;
  background: #f9f9f9;
}

.mv img {
  height: 100vh;
}

.mv-wrapper {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mv-text {
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  text-align: center;
  color: #212121;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
}

.mv-text span {
  display: block;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding-top: 5px;
  color: #aaaaaa;
}

.mv-btn {
  display: block;
  color: #fff;
  background: #212121;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  transition: all .2s;
  border: 1px solid #212121;
}

.mv-btn:hover {
  background: #f9f9f9;
  color: #212121;
  border-color: #212121;
}