html {
  font-size: 62.5%;
}

body {
  font-family:  YakuHanJP, sans-serif, YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,sans-serif;
  font-size: 1.6rem;
  color: #212121;
}

a {
  color: #212121;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.header-inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li:not(:first-child) {
  margin-left: 30px;
}

.nav-list li a {
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
}